<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valid RSS 2.0 Feed Template for Rails</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&amp;display=swap" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai-sublime.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="flex">
        <h1 class="fadeout">Valid RSS 2.0 Feed Template for Rails</h1>
    </header>
    <main>
        <section class="flex">
            <div class="flex-item flex-100">
                <div class="code">If you like Atom more than RSS use the [atom\_feed\_helper](http://github.com/rails/atom_feed_helper/tree/master).

Here's the template, modify it to fit your needs. I know there are plugins and other ways of doing this, but I hate code that gets too abstract:


```ruby
<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="http://xxxxxxx" rel="self" type="application/rss+xml" />
    <title>Code Snippets - Aktagon</title>
    <link>http://snippets.aktagon.com/</link>
    <description>Share your code with the world. Allow others to review and comment.</description>
    <language>en-us</language>
    <pubDate><%= @snippets[0].created_at.rfc822 %></pubDate>
    <lastBuildDate><%= @snippets[0].created_at.rfc822 %></lastBuildDate>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <generator>Aktagon Snippets</generator>
 <% for snippet in @snippets %>
    <item>
      <title><![CDATA[<%= snippet.title %>]]></title>
      <link><%= snippet_url(snippet) %></link>
      <description><![CDATA[<%= snippet.rendered_body %>]]></description>
      <pubDate><%= @snippets[0].created_at.rfc822 %></pubDate>
      <guid><%= snippet_url(snippet) %></guid>
	  <% for tag in snippet.tags%>
		<category domain="http://snippets.aktagon.com/snippets"><![CDATA[<%= tag.name %>]]></category>
	  <% end%>
    </item>
<% end %>
  </channel>
</rss>
```
    

Remember to serve the feed with the [correct HTTP headers](http://www.petefreitag.com/item/381.cfm).

It also helps to have an auto-discovery tag inside the head tag:


```ruby
<link rel="alternate" type="application/rss+xml" title="RSS feed" href="http://<%= request.host %>/rss/" />
```
    

</div>
            </div>
        </section>
    </main>
    <footer class="flex">
        <p>&copy; 2023 Aktagon Ltd.</p>
        <a href="https:://aktagon.com">Aktagon Ltd.</a>
    </footer>
    <script>
        marked.setOptions({
          gfm: true,
          breaks: true,
          highlight: function(code, lang) {
            const language = hljs.getLanguage(lang) ? lang : 'plaintext';
            return hljs.highlight(code, { language }).value;
          },
        });
        const elements = document.getElementsByClassName('code')
        for (var element of elements) {
          element.innerHTML = marked.parse(element.innerHTML);
          console.debug("Rendered element");
        };
    </script>
</body>
</html>
